body{
margin: 0;
background-color:darkseagreen;
}

.header{
background-color:aquamarine;
padding: 20px;
max-width: 1100px;
margin: auto;
margin-bottom: 20px;
}

.quick-links{
background-color:darkcyan;
padding: 20px;
margin-right: 20px;
}

.about{
background-color:darkturquoise;
padding: 20px;
}

.main{
display: flex;
justify-content: center;
max-width: 1140px;
margin: auto;
}

.footer{
background-color:aquamarine;
padding: 20px;
max-width: 1100px;
margin: auto;
margin-top: 20px;
}