body{
margin: 0;
}

.header{
background-color:aquamarine;
padding: 20px;
max-width: 1000px;
margin: auto;
margin-bottom: 20px;
}

.quick-links{
background-color:darkcyan;
padding: 20px;
margin-right: 20px;
}

.about{
background-color:darkturquoise;
padding: 20px;
}

.main{
display: flex;
max-width: 1040px;
margin: auto;
}

.footer{
background-color:aquamarine;
padding: 20px;
max-width: 1000px;
margin: auto;
margin-top: 20px;
}